<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" >
	<Applications>
		<!-- Win -->
		<Application
			Name="UnboundListViewWin"
			FileName="[WinAppBin]\UnboundListView.Win.exe"
			AdapterAssemblyName="DevExpress.ExpressApp.EasyTest.WinAdapter.v18.1, Version=18.1.18.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="UnboundListViewWeb"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppBin]"
			AdapterAssemblyName="DevExpress.ExpressApp.EasyTest.WebAdapter.v18.1, Version=18.1.18.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
		<!-- For IIS -->
		<!--Application
			Name="[SolutionName]Web"
			Url="http://localhost/UnboundListView.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/-->
	</Applications>
	<!--
	<TestDatabases>   
		<Database xsi:type="TestMSSQLDatabase" Server="(local)" DBName="PostponeControllerTestEasyTest" />    
	</TestDatabases>
	-->
	<Aliases>
		<Alias Name="WinAppBin" Value="[ConfigPath]\..\..\UnboundListView.Win\Bin\EasyTest" />
		<Alias Name="WebAppBin" Value="[ConfigPath]\..\..\UnboundListView.Web" />
	</Aliases>
</Options>
